@import '../../styles/variables';

.filter-btn {
  border-radius: 50%;
  background-color: $color-light-grey;
  height: 3rem;
  width: 3rem;
  font-size: 1rem;
  &:hover {
    border: 2px solid $color-red;
  }
  &.active {
    background-color: $color-red;
    color: white;
  }
}
