@import '../../styles/variables';
@import '../../styles/mixins';

footer {
  background-color: $color-dark-grey;
  color: white;
  padding: 3rem;
  margin-top: 2rem;

  .footer-row {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    @include sm {
      flex-direction: row;
    }
  }
}
