@import '../../styles/variables';
footer {
  background-color: $color-dark-grey;
  height: 20rem;
  color: white;
  padding: 3rem;
  margin-top: 2rem;

  .footer-row {
    display: flex;
    gap: 1rem;
  }
}
